// Place all the styles related to the advertisements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.advertisments-list {
  list-style: none;
  display: flex;
  width: 960px;
  flex-wrap: wrap;
  margin: 20px auto auto;

  .list-item {
    margin: 10px;
    display: block;
  }

  .my-advertisement-card {
    width: 18rem;

    .advertisement-img {
      height: 190px;
      object-fit: cover;
      object-position: top
    }

    .info-item {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .info-logo {
        display: inline-block;
        width: 30px;
      }
    }
  }
}

.search-form {
  width: 600px;
  margin: 50px auto 0;

  .form-select {
    margin: 10px;
  }

  .submit {
    display: block;
    width: 100px;
    margin: auto;
    color: white;
    font-weight: bold;
  }
}

.nav-block {
  display: block;
  margin: 20px auto 50px auto;
}

